$background-card-color: #4a4a4a;
$text-color: #dadada;

.card {
  display: flex;
  // min-width: 262px;
  margin: 10px 2px 10px 2px;
  background-color: $background-card-color;
  cursor: pointer;
}

.image,
.image img {
  height: 150px;
  width: 105px;
  background-size: contain;
}

.title {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
  color: $text-color;
  width: 100%;
}

.active{
  border: solid lightblue 2px;
  margin: 8px 0 8px 0;
}
