// $primary:       $blue !default;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;

$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1450px) !default;

@import '~bootstrap/scss/bootstrap-grid';

$background-color: #3a3a3a;

body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: $background-color;
  font-family: Arial, Helvetica, sans-serif;
}
